*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
header{
    background-color: bisque;
    color: #333;
    padding: 20px;
}
/*definindo o banner*/
.banner{
    background: url(img/background-pagina-balao-mobile.jpg);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.locais h2{
    text-align: center;
    font-size: 36px;
}

.card-grid{
    display: flex;
    justify-content: center;
}
.card{
    background-color: white;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 300px;
    box-shadow: #333;
}
.card:hover{
    transform: scale(1.10);
}
.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-content{
    padding: 20px;

}
.card h3{
    font-size: 24px;
    margin: 10px;
    color: #666;
}
.card p{
    font-size: 16px;
    color: #666;
}

